body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    background: #E9F1FA;
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#message {
    margin-top: 10px;
    padding: 10px;
    background-color: #e6f7ff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    display: none;
}

#message.show {
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-primary,
.link-secondary {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}


.btn-primary, .link-secondary{
    background-color: #007BFF;
    border: none;
}

.btn-primary:hover,.link-secondary:hover {
    background-color: #0038ff;
}




