body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background: #E9F1FA;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input[type="text"]{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-search {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button.btn-search:hover {
    background-color: #0038ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a.link-secondary {
    color: #007BFF;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a.link-secondary:hover {
    text-decoration: underline;
}
