body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.welcome-text {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}


a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover {
    background-color: #0056b3;
}

